body {
    /* height: 100vh;
    background: rgb(34,193,195);
    background: rgba(34,193,195,1);
    background-image: linear-gradient(to right top,
     #d16ba5, #c777b9, #ba83ca, #aa8fd8, 
     #9a9ae1, #8aa7ec, #79b3f4, #69bff8, 
     #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-size: cover; */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
	height: 100vh;
    padding: 20px;
    font-size: 25px;
    
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
 
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

label {
    display: block;
    font-size:20px; 
}

input[type="number"] {
    background: rgba(255, 255, 255, .5);
    border:0;
    margin-bottom: 5px;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}

.summary {
    background: rgba(255, 255, 255, .5);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    width: 350px;
    font-size: 25px;
    margin-top: 25px;
}

.summary label {
    font-size: 20px;
}

.num-of-people-control{
    display: flex;
    align-items: center;
}

.num-of-people-control span {
    display: block;
    padding: 0 4px;
}

.num-of-people button {
    border-radius: 9999px;
    border: 0;
    width: 30px;
    height: 30px;
    font-size: 22px;
    cursor: pointer;
}
